# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Assignment-1/commands.txt
Assignment-1/projects.Rproj
Assignment-1/GSE215924/GSE215924_Bulk_RNA_seq_TPM_matrix.txt.gz
Assignment-1/GSE233900/GSE233900_RAW.tar
Assignment-1/GSE233900_RAW/GSM7438854_B206_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438855_B207_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438856_B209_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438857_B211_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438858_B212_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438859_B223_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438860_B226_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438861_B228_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438862_B230_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438863_B231_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438864_B232_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438865_B235_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438866_B236_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438867_B238_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438868_B319_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438869_B320_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438870_B321_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438871_B322_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438872_B323_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438873_C487_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438874_D605_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438875_D606_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438876_D607_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438877_D611_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438878_D612_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438879_D614_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438880_D618_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438881_D621_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438882_D627_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438883_D629_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438884_D632_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438885_D633_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438886_D648_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438887_D678_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438888_D680_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438889_D681_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438890_D683_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438891_D685_TI2.txt.gz
Assignment-1/GSE233900_RAW/GSM7438892_D686_TI1.txt.gz
Assignment-1/GSE233900_RAW/GSM7438893_D687_TI2.txt.gz
Assignment-1/GSE233900_raw_counts_GRCh38.p13_NCBI.tsv.gz
Assignment-1/assignment-1.md
